<!DOCTYPE html>
<html>
<head>
<meta  charset="UTF-8"/>
<title>Formulario</title>
</head>
<body>
    <h2>Ingresa los datos del personaje</h2>
    <form action="#" th:action="@{addpersonaje}" th:object="${personaje}" method="post" >
        <p>Nombre <input type="text" th:field="*{name}" /></p>
        <p>Edad <input type="number" th:field="*{age}" /></p>
        <p>Lugar de Nacimiento <input type="text" th:field="*{Bplace}" /></p>
        <p><input type="submit" value="enviar"  /></p>
    </form>
</body>
</html>